[submodule "extensions/WikiForum"]
	path = extensions/WikiForum
	url = https://git.wikimedia.org/git/mediawiki/extensions/WikiForum.git
[submodule "extensions/Comments"]
	path = extensions/Comments
	url = https://git.wikimedia.org/git/mediawiki/extensions/Comments.git
